@model SourceControl.Models.Login
@{
    ViewBag.Title = "Login";
}
<div class="login-container text-c animated flipInX">

    <h3 class="text-whitesmoke">Login</h3>

    <div class="container-content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control item", @id = "round", @placeholder = "Email", @type = "email" } })
                <div class="validation">
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control item", @id = "round", @placeholder = "Password", @type = "password" } })
                <div class="validation">
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <input type="submit" id="round" class="form-button button-l margin-b" value="Login" />
        }
            <a class="text-darkyellow" href="#"><small>Forgot your password?</small></a>
            </br>
            <a class="text-darkyellow" href="/home/register"><small>Do not have an account?</small></a>
            </form>
            <p class="margin-t text-whitesmoke"><small>Made By Vedanshu Joshi</small> </p>
        </div>
</div>